<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MySQLDB"
         connectionString ="server=127.0.0.1;user=team1;password=sql853920; database=team1; port=3306"
    />
  </connectionStrings>
</configuration>